.card {
    width: 220px;
    height: auto;
    max-height: 320px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    margin-bottom: 0;
  }
  
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
  
.card-img-cont {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}
  
.card-img {
    max-height: 140px;
    max-width: 90%;
    object-fit: contain;
}
  
.card-body {
    padding: 12px;
}
  
.card-name {
    font-size: 8px;
    margin-bottom: 8px;
    height: 45px;
}
  
.card-price {
    font-size: 20px;
    font-weight: bold;
    color: #005F73;
}